body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 90%;
  max-width: 600px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.time-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin: 0 10px;
}

input {
  width: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.time-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.time-block {
  width: calc(33.33% - 10px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.time-label {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.settings-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.settings-modal {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 1;
}

.setting {
  margin: 10px 0;
}